
body{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 1.3rem;
}


#navbar {
    background-color: black;
    display: flex;

}

#navbar #title {
    width: 85%;
    color: white;
}

#navbar #options {
    width: 15%;
    display: flex;
    color: white;
}

#navbar #options a {
    color: white;
    margin-left: auto;
}


